/* ==========================================================================
Author: Andrea Amado de Cerqueira
URL: https://www.andreaamado.com
========================================================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

input:-webkit-autofill {
  background-color: #111827 !important;
  color: #fff !important;
  box-shadow: 0 0 0px 1000px #111827 inset !important;
  -webkit-text-fill-color: #fff !important;
}

/* Google Material Icons */
/* .material-symbols-outlined {
	font-variation-settings: "FILL"0, "wght"400, "GRAD"0, "opsz"48;
} */
